.title {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 40px 0;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:last-child {
  padding-right: 0;
}
